{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto px-4 flex flex-col lg:flex-row mt-8 lg:mt-12">
   <!-- Sidebar -->
<div class="w-full lg:w-1/4 lg:pr-8 mb-8 lg:mb-0 hidden lg:block">
    <h2 class="text-xl lg:text-2xl font-serif font-bold text-custom-gold mb-4 lg:mb-6">Product Categories</h2>
    <ul class="space-y-2 lg:space-y-4">
        {% for cat in categories %}
            <li>
                <a href="{% url 'category_products' cat.slug %}" 
                   class="text-base lg:text-lg font-medium text-gray-600 hover:text-custom-gold transition-colors duration-200 {% if cat == category %}font-bold text-custom-gold{% endif %}">
                    {{ cat.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>


    <!-- Main content -->
    <div class="w-full lg:w-3/4">
        <h2 class="text-2xl lg:text-3xl font-serif font-bold text-gray-800 mb-4 lg:mb-6">{{ category.name }}</h2>
        <p class="text-gray-500 mb-6 lg:mb-8 font-sans text-sm lg:text-base">{{ category.description }}</p>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-10">
            {% for product in products %}
            <div class="border border-gray-200 p-4 lg:p-6 rounded-lg shadow-md hover:shadow-lg transition duration-300 flex flex-col">
                <a href="{% url 'product_detail' product.slug %}" class="block mb-auto">
                    <div class="w-full aspect-square mb-3 lg:mb-4">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="w-full h-full object-contain rounded">
                    </div>
                    <h3 class="text-base lg:text-lg font-serif font-semibold text-gray-800 mb-1 lg:mb-2">{{ product.name }}</h3>
                    <p class="text-custom-gold font-sans font-medium text-sm lg:text-base">KSh {{ product.price }}</p>
                </a>
                <button class="mt-3 lg:mt-4 w-full bg-black text-white py-2 text-xs lg:text-sm rounded-full hover:bg-gray-800 transition duration-200 font-medium tracking-wide">
                    Add to Cart
                </button>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}