{% extends 'base.html' %}

{% block content %}
<main class="bg-white py-12">
    <div class="container mx-auto px-4">
                 <!-- Featured Products Section -->
<section class="mb-16">
    <h2 class="text-2xl font-serif font-bold text-gray-800 mb-4 text-center">Featured Products</h2>
    <p class="text-gray-500 mb-6 text-center font-sans text-sm">Discover our hand-picked products just for you.</p>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 justify-center mx-auto" style="max-width: 1200px;">
        {% for product in featured_products %}
        <div class="border border-gray-200 p-4 rounded-lg shadow hover:shadow-md transition duration-200 flex flex-col">
            <a href="{% url 'product_detail' product.slug %}" class="block mb-auto">
                <div class="w-full aspect-square mb-3">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="w-full h-full object-contain rounded">
                </div>
                <h3 class="text-base font-serif font-semibold text-gray-800 mb-1">{{ product.name }}</h3>

                <!-- Check if product has multiple sizes -->
                {% if product.product_sizes.all %}
                    <p class="text-custom-gold font-sans font-medium text-sm">KSh {{ product.price_range }}</p>
                {% else %}
                    <p class="text-custom-gold font-sans font-medium text-sm">KSh {{ product.price }}</p>
                {% endif %}
            </a>

            <!-- Show button based on whether the product has multiple sizes -->
            {% if product.product_sizes.all %}
                <a href="{% url 'product_detail' product.slug %}" class="mt-3 w-full bg-black text-white py-1.5 text-sm rounded-full hover:bg-gray-800 transition duration-200 font-medium tracking-wide text-center">
                    Select Options
                </a>
            {% else %}
                <form action="{% url 'add_to_cart' product.slug %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="quantity" value="1">
                    <button type="submit" class="mt-3 w-full bg-black text-white py-1.5 text-sm rounded-full hover:bg-gray-800 transition duration-200 font-medium tracking-wide">
                        Add to Cart
                    </button>
                </form>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</section>


                 <!-- Best Sellers Section -->
<section class="mb-16">
    <h2 class="text-2xl font-serif font-bold text-gray-800 mb-4 text-center">Best Sellers</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 justify-center mx-auto" style="max-width: 1200px;">
        {% for product in best_seller_products %}
        <div class="border border-gray-200 p-4 rounded-lg shadow hover:shadow-md transition duration-200 flex flex-col">
            <a href="{% url 'product_detail' product.slug %}" class="block mb-auto">
                <div class="w-full aspect-square mb-3">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="w-full h-full object-contain rounded">
                </div>
                <h3 class="text-base font-serif font-semibold text-gray-800 mb-1">{{ product.name }}</h3>

                <!-- Check if product has multiple sizes -->
                {% if product.product_sizes.all %}
                    <p class="text-custom-gold font-sans font-medium text-sm">KSh {{ product.price_range }}</p>
                {% else %}
                    <p class="text-custom-gold font-sans font-medium text-sm">KSh {{ product.price }}</p>
                {% endif %}
            </a>

            <!-- Show button based on whether the product has multiple sizes -->
            {% if product.product_sizes.all %}
                <a href="{% url 'product_detail' product.slug %}" class="mt-3 w-full bg-black text-white py-1.5 text-sm rounded-full hover:bg-gray-800 transition duration-200 font-medium tracking-wide text-center">
                    Select Options
                </a>
            {% else %}
                <form action="{% url 'add_to_cart' product.slug %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="quantity" value="1">
                    <button type="submit" class="mt-3 w-full bg-black text-white py-1.5 text-sm rounded-full hover:bg-gray-800 transition duration-200 font-medium tracking-wide">
                        Add to Cart
                    </button>
                </form>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</section>



<!-- Supplements Section -->
<section class="mb-16">
    <h2 class="text-3xl font-serif font-bold text-gray-800 mb-8 text-center">Supplements</h2>
    <div class="relative overflow-hidden">
        <div id="supplementsCarousel" class="flex transition-transform duration-700 ease-in-out">
            {% for product in supplement_products %}
            <div class="w-64 flex-shrink-0 p-2">
                <a href="{% url 'product_detail' product.slug %}" class="block">
                    <div class="w-60 h-60 overflow-hidden rounded-lg">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="w-full h-full object-cover">
                    </div>
                    <h3 class="text-sm font-serif font-semibold text-gray-800 mt-2 truncate">{{ product.name }}</h3>

                    <!-- Check if product has multiple sizes -->
                    {% if product.product_sizes.all %}
                        <p class="text-custom-gold font-sans font-medium text-xs">KSh {{ product.price_range }}</p>
                    {% else %}
                        <p class="text-custom-gold font-sans font-medium text-xs">KSh {{ product.price }}</p>
                    {% endif %}
                </a>
            </div>
            {% endfor %}
        </div>

        <!-- Carousel Controls -->
        <button id="prevButton" class="absolute left-2 top-1/2 transform -translate-y-1/2 bg-white text-gray-800 p-3 rounded-full shadow-lg border border-gray-200">
            &larr;
        </button>
        <button id="nextButton" class="absolute right-2 top-1/2 transform -translate-y-1/2 bg-white text-gray-800 p-3 rounded-full shadow-lg border border-gray-200">
            &rarr;
        </button>
    </div>
</section>


    <!-- Popular Brands Section -->
    <section class="py-16 bg-gray-50">
        <div class="container mx-auto px-4">
            <h2 class="text-3xl font-serif font-bold text-gray-800 mb-12 text-center">Our Trusted Brands</h2>
            <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-8">
            <div class="bg-white rounded-lg shadow-md hover:shadow-lg transition duration-300 p-6 flex items-center justify-center">
                <img src="https://nimrahskincare.co.ke/wp-content/uploads/2024/08/GuruNanda-Logo-1024x561.webp" alt="GuruNanda" class="max-h-16 w-auto">
            </div>
            <div class="bg-white rounded-lg shadow-md hover:shadow-lg transition duration-300 p-6 flex items-center justify-center">
                <img src="https://nimrahskincare.co.ke/wp-content/uploads/2024/08/holland.png" alt="Holland & Barrett" class="max-h-16 w-auto">
            </div>
            <div class="bg-white rounded-lg shadow-md hover:shadow-lg transition duration-300 p-6 flex items-center justify-center">
                <img src="https://nimrahskincare.co.ke/wp-content/uploads/2024/08/Micro-Ingredients-USDA-Organic-Supplements-1024x459.png" alt="Micro Ingredients" class="max-h-16 w-auto">
            </div>
            <div class="bg-white rounded-lg shadow-md hover:shadow-lg transition duration-300 p-6 flex items-center justify-center">
                <img src="https://nimrahskincare.co.ke/wp-content/uploads/2024/08/LOGO_Anua.webp" alt="Anua" class="max-h-16 w-auto">
            </div>
            <div class="bg-white rounded-lg shadow-md hover:shadow-lg transition duration-300 p-6 flex items-center justify-center">
                <img src="https://nimrahskincare.co.ke/wp-content/uploads/2024/08/corsx.webp" alt="COSRX" class="max-h-16 w-auto">
            </div>
            <div class="bg-white rounded-lg shadow-md hover:shadow-lg transition duration-300 p-6 flex items-center justify-center">
                <img src="https://nimrahskincare.co.ke/wp-content/uploads/2024/08/beauty-of-joseon-logo.webp" alt="Beauty of Joseon" class="max-h-16 w-auto">
            </div>
            <div class="bg-white rounded-lg shadow-md hover:shadow-lg transition duration-300 p-6 flex items-center justify-center">
                <img src="https://nimrahskincare.co.ke/wp-content/uploads/2024/08/medicube.webp" alt="Medicube" class="max-h-16 w-auto">
            </div>
            <div class="bg-white rounded-lg shadow-md hover:shadow-lg transition duration-300 p-6 flex items-center justify-center">
                <img src="https://nimrahskincare.co.ke/wp-content/uploads/2024/08/LOGO_im_from.webp" alt="I'm From" class="max-h-16 w-auto">
            </div>
            <div class="bg-white rounded-lg shadow-md hover:shadow-lg transition duration-300 p-6 flex items-center justify-center">
                <img src="https://nimrahskincare.co.ke/wp-content/uploads/2024/08/dr-ceuracle.webp" alt="Dr. Ceuracle" class="max-h-16 w-auto">
            </div>
            <div class="bg-white rounded-lg shadow-md hover:shadow-lg transition duration-300 p-6 flex items-center justify-center">
                <img src="https://nimrahskincare.co.ke/wp-content/uploads/2024/08/cerave-logo-vector.png" alt="CeraVe" class="max-h-16 w-auto">
            </div>
            <div class="bg-white rounded-lg shadow-md hover:shadow-lg transition duration-300 p-6 flex items-center justify-center">
                <img src="https://nimrahskincare.co.ke/wp-content/uploads/2024/08/good-molecules.webp" alt="Good Molecules" class="max-h-16 w-auto">
            </div>
            <div class="bg-white rounded-lg shadow-md hover:shadow-lg transition duration-300 p-6 flex items-center justify-center">
                <img src="https://nimrahskincare.co.ke/wp-content/uploads/2024/08/Logo-La-Roche-Posay-1024x640.webp" alt="La Roche-Posay" class="max-h-16 w-auto">
            </div>
        </div>
    </div>
</section>
</main>

<!-- Script for Carousel Functionality -->
<script>
    const carousel = document.getElementById('supplementsCarousel');
    const items = Array.from(carousel.children);
    const totalItems = items.length;
    const itemWidth = items[0].offsetWidth;
    const itemsVisible = Math.floor(carousel.offsetWidth / itemWidth);
    let currentIndex = 0;

    // Clone items for seamless infinite scroll
    items.forEach(item => {
        carousel.appendChild(item.cloneNode(true));
    });

    function updateCarouselPosition(transition = true) {
        if (transition) {
            carousel.style.transition = 'transform 0.5s ease-in-out';
        } else {
            carousel.style.transition = 'none';
        }
        carousel.style.transform = `translateX(-${currentIndex * itemWidth}px)`;
    }

    function updateCarousel(direction) {
        currentIndex += direction;
        updateCarouselPosition();

        if (direction > 0 && currentIndex >= totalItems) {
            setTimeout(() => {
                currentIndex = 0;
                updateCarouselPosition(false);
            }, 500);
        } else if (direction < 0 && currentIndex < 0) {
            setTimeout(() => {
                currentIndex = totalItems - 1;
                updateCarouselPosition(false);
            }, 500);
        }
    }

    // Automatic scrolling
    let autoScroll = setInterval(() => updateCarousel(1), 3000);

    // Event listeners for manual controls
    document.getElementById('nextButton').addEventListener('click', function() {
        clearInterval(autoScroll);
        updateCarousel(1);
        autoScroll = setInterval(() => updateCarousel(1), 3000);
    });

    document.getElementById('prevButton').addEventListener('click', function() {
        clearInterval(autoScroll);
        updateCarousel(-1);
        autoScroll = setInterval(() => updateCarousel(1), 3000);
    });

    // Pause auto-scroll on hover
    carousel.addEventListener('mouseenter', () => clearInterval(autoScroll));
    carousel.addEventListener('mouseleave', () => autoScroll = setInterval(() => updateCarousel(1), 3000));
</script>
{% endblock %}